@charset "UTF-8";

/* category modify */
.category {
	margin-top: 36px;
	border: 2px solid gray;
	width: 900px;
	height: 430px;
	padding: 100px 0 0 130px;
}

.category .cate-block {
	margin-bottom: 20px;
}

.category .cate-label {
	margin-left: 30px;
}

.category .cate-button {
	margin-top: 70px;
	margin-left: 60%;
}