@charset "UTF-8";

* {
	color: #222;
	/* 기본 글 색상 */
	font-family: "Nanum Gothic", sans-serif;
	/* 나눔고딕체 적용 */
	text-decoration: none;
	/* 밑줄 제거 */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ************************************** */
/* ********** header.jsp 시작 *********** */
/* ************************************** */
#header {
	width: 100%;
}

#header div.logBar {
	background-color: rgba(77, 77, 77, 1);
	height: 48px;
	display: block;
	text-align: right;
	padding-right: 50px;
}

#header .logBar a {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 2.4em;
}

#header .logoArea {
	text-align: center;
}

#header .navBar {
	text-align: center;
}

#header .navBar ul {
	text-align: center;
	list-style: none;
}

#header .navBar ul>li {
	display: inline-block;
	padding: 10px, 20px, 20px, 0;
}

#header .navBar ul a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 28px;
}

/* ********** header.jsp 끝 *********** */

/* ************************************** */
/* ********** footer.jsp 시작 *********** */
/* ************************************** */
footer#footer {
	margin-top: 30px;
	width: 100%;
	font-size: 14px;
}

.buttonArea a {
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

.contentWrap {
	margin-top: 10px;
	display: flex;
}

.contentWrap p {
	color: #5e5e5e;

}

.contentWrapRight>h4>span {
	font-size: 18px;
	color: rgba(255, 0, 0, 1);

}

/* ********** footer.jsp 끝 *********** */