@charset "UTF-8";

* {
	font-family: 'IBM Plex Sans KR' !important;
	text-align: center;
}

body {
	background: #F5DCB7;
}

hr {
	margin: 30px 0;
}

.carousel {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.carousel-inner {
	width: 100%;
}

.carousel-item img {
	width: 100%;
	height: auto;
}

.flower_frame {
	background-color: white;
	margin: 100px 280px;
	padding: 50px;
	border-radius: 20px;
	display: none;
}

.flower_text {
	margin: 30px 0;
	color: green;
}

.flower_info {
	text-align: left;
}

.flower_error {
	margin: 30px 0 0;
}