@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
	outline: 2px solid #4a90e2 !important;
	outline: -webkit-focus-ring-color auto 5px !important;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: "Pretendard Variable-Bold";
	src: url("https://anima-uploads.s3.amazonaws.com/projects/640764766bf479e1d3dd80f8/fonts/pretendard-bold.otf") format("opentype");
}

@font-face {
	font-family: "Pretendard Variable-Medium";
	src: url("https://anima-uploads.s3.amazonaws.com/projects/63edf64aea18a32c49d2231e/fonts/pretendardvariable.ttf") format("truetype");
}

@font-face {
	font-family: "Pretendard Variable-SemiBold";
	src: url("https://anima-uploads.s3.amazonaws.com/projects/64fac57db3f905840f5d2394/fonts/pretendardvariable.ttf") format("truetype");
}