@charset "UTF-8";

.prd-detail-contents {
  position: relative;
  margin-top: -375px;
}

.prd-detail-contents .prd_title-img {
  position: absolute;
  width: 372px;
  height: 372px;
  top: 391px;
  left: 374px;
  object-fit: cover;
  border-radius: 20px;
}

.prd-detail-contents .ctg-label {
  width: 270px;
  height: 17px;
  position: absolute;
  margin-top: 452px;
  left: 788px;
}

.prd-detail-contents .ctg-text {
  font-family: "Pretendard Variable-Medium", Helvet ica;
  font-weight: 500;
  color: #20202080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.prd-detail-contents .prd-title {
  position: absolute;
  margin-top: 400px;
  left: 775px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.prd-detail-contents .prd-title-liner {
  width: 767px;
  position: absolute;
  margin-top: 446px;
  border: 1px solid #e6e6e6;
  left: 779px;
}

.admin-btn {
    position: absolute;
    margin-top: 389px;
    margin-left: 1330px;
}

.prd-detail-contents .prd-tag-pop {
	display: inline-flex;
	align-items: flex-start;
	gap: 6px;
	position: absolute;
    margin-top: 512px;
	margin-left: 787px;
}

.prd-detail-contents .prd-tag-hot {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 1px 4px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ff3666;
  border-radius: 2px;
  overflow: hidden;
}

.prd-detail-contents .prd-tag-new {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 1px 4px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0075ff;
  border-radius: 2px;
  overflow: hidden;
}

.prd-detail-contents .prd-tag-img {
  width: 9.34px;
  position: relative;
  height: 12px;
}

.prd-detail-contents .prd-tag-txt {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.prd-detail-contents .reviews {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  margin-top: 487px;
  margin-left: 788px;
}

.prd-detail-contents .reviews-score {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -3px;
}

.prd-detail-contents .rv-img-star {
  position: relative;
  width: 20px;
  height: 20px;
}

.prd-detail-contents .rv-text {
  position: relative;
  width: fit-content;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  color: #787878;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.div-wrapper #prd-text-tag {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 571px;
  left: 787px;
}

.div-wrapper .prd-text-tag-frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e4e4e4;
}

.div-wrapper .tag-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  color: #20202080;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.prd-detail-contents .prd-dc-amount {
  position: relative;
  top: 572px;
  left: 778px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
}

.prd-detail-contents .prd-won {
  position: relative;
  top: 572px;
  margin-left: 782px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
  display: inline-block;
}

.prd-detail-contents .prd-price-before {
	text-decoration: line-through;
	position: relative;
	top: 572px;
	margin-left: 5px;
	font-family: "Pretendard Variable-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 40px;
	white-space: nowrap;
	display: inline-block;
}

.prd-detail-contents .prd-dcrate {
	position: relative;
	top: 556px;
	margin-left: 780px;
	font-family: "Pretendard Variable-Bold", Helvetica;
	color: #ff1e1e;
	font-size: 25px;
	letter-spacing: 0;
	line-height: 40px;
	white-space: nowrap;
}

.prd-detail-contents .prd-imgs {
	position: relative;
	width: 81px;
	height: 81px;
    top: 801px;
	left: 375px;
	object-fit: cover;
	margin-right: 11px;
	border-radius: 10px;
	margin-top: -27px;
}

.prd-detail-contents .prd-pay-opt {
  width: 770px;
  height: 144px;
  top: 712px;
  left: 775px;
  background-color: #ededed;
  border-radius: 4px;
  position: absolute;
  border: 1px solid;
  border-color: #e4e4e4;
}

.prd-pay-opt .shop-bak {
  display: flex;
  width: 287px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 56px;
  position: absolute;
  top: 90px;
  left: 166px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00b267;
}

.prd-pay-opt .shop-bak .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-weight: 600;
  color: #00b267;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.prd-pay-opt .buy-now {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 67px;
  position: absolute;
  top: 90px;
  left: 469px;
  background-color: #00b267;
}

.prd-pay-opt .buy-now .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.prd-detail-contents .menu {
  position: relative;
  width: 1920px;
  height: 62px;
  margin-top: 827px;
}

.menu .menu-select {
  display: inline-block;
  align-items: flex-start;
  position: absolute;
  top: 1px;
  left: 377px;
}

.menu-select .info-btn {
  width: 387px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 0;
  position: relative;
  flex: 0 0 auto;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #e4e4e4;
}

.menu-select .menu-btn-text {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-select .menu-btn-click {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  color: #00b267;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.prd-detail-contents .menu-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 695px;
}

.prd-detail-contents .amount-text {
  position: relative;
  top: 42px;
  margin-right: 10px;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-weight: 600;
  color: #00b267;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
}

.prd-detail-contents #totalPrice {
  position: relative;
  top: 40px;
  margin-right: -733px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
}

.prd-detail-contents .prd-goods {
  position: absolute;
  top: 40px;
  left: 21px;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  color: #202020;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.div-wrapper .order-cnt-frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 90px;
  left: 21px;
}

.div-wrapper .order-cnt-btn-frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 29px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e4e4e4;
}

.div-wrapper .order-num-text {
  position: relative;
  width: fit-content;
  margin-top: -16px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  border-width: 0;
  outline: none;
  width: 70px;
  height: 38px;
  top: 14px;
}

.div-wrapper .plus-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 90px;
}

.div-wrapper .minus-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.div-wrapper .delivery-fee-text {
  position: absolute;
  top: 23px;
  left: 595px;
  opacity: 0.5;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.div-wrapper .prd-advice {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px;
  position: absolute;
  margin-top: 52px;
  margin-left: -330px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e4e4e4;
}

.div-wrapper .prd-adv-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-weight: 600;
  color: #00b267;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.div-wrapper .prd-text-title {
  position: absolute;
  width: 270px;
  margin-top: 150px;
  margin-left: -330px;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-weight: 700;
  color: #202020;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .prd-growth-form {
  position: absolute;
  width: 270px;
  margin-top: 200px;
  margin-left: -330px;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  color: #00b267;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .plant-info {
  width: 1170px;
  margin-top: 250px;
  margin-left: -330px;
  color: #000000;
  line-height: 32px;
  position: absolute;
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0;
}

#info-frame #big-img {
    position: absolute;
    margin-left: -200px;
    text-align: center;
}

#big-img .prd-big-imgs {
	display: block;
	width: 500px;
	height: 500px;
	margin-bottom: 20px;
}